<div *ngIf="selecInfCurso">
    <ol class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Descipcion</div>
                {{selecInfCurso.description}}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Material</div>
                <div *ngFor="let material of selecInfCurso.materials">
                    {{material}}
                </div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Videos</div>
                <div *ngFor="let videos of selecInfCurso.videos">
                    {{videos}}
                </div>
            </div>
        </li>
    </ol>
</div>