.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    height: auto;
}

/* Text animation */
.textLight {
    color: hsl(0, 0%, 70%);
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
}

.textLight span {
    transition: 0.5s ease-out;
}

.container:hover .textLight span:nth-child(1) {
    margin-right: 5px;
}

.container:hover .textLight span:nth-child(2) {
    margin-right: 5px;
}

.container:hover .textLight span:nth-child(2) {
    margin-left: 30px;
}

.container:hover .textLight span {
    color: #0072fe;
    border-color: black;
    text-shadow:
        0 0 10px #000000,
        0 0 20px #0482f8,
        0 0 40px #fff;
}
